body{
	background-color: #3a539b;
}
body p{
	font-family: 'Montserrat', sans-serif;
}
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

.container{
	margin: 100px auto;
	height: 550px;
	width: 350px;
	background: white;
	border-radius: 10px;
}
.app-title{
	width: 100%;
	padding: 2px;
}
.app-title p{
	font-size: 2.3rem;
	text-align: center;
}
.weather-container{
	width: 100%;
	background: #e8ecf1;
	padding-bottom: 1rem;
}
.temperature-value p{
	font-size: 4rem;
	text-align: center;
}
.location p{
	font-size: 1.5rem;
	text-align: center;
}
.weather-icon{
	text-align: center;
	width:80px;
	height: 80px;
	margin: 0px auto;
}
.temp-desc p{
	text-align: center;
	font-size: 1.4rem;
}

@media only screen and (max-width: 600px){

	.container{
		min-width: 300px;
		min-height: 400px;
	}
}